<h1>TILAUKSENI</h1>
<md-card>
  <md-list>
    <md-list-item>
      <h3 md-line class="order-sum">Yhteensä 203.56€</h3>

      <button md-button color="primary">MAKSA KAIKKI</button>
    </md-list-item>
  </md-list>
</md-card>
<h1>ERITTELY</h1>
<md-card>
  <md-list>
    <md-list-item *ngFor="let order of orders | async">
      <img md-list-avatar src="https://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>{{ order.name }}</h3>
      <p md-line>
        <span> {{ order.qty }} kpl </span>
        <span class="demo-2"> a {{ order.price }} </span>
      </p>
      <p>
        <span> Yhteensä </span>
        <span class="demo-2"> {{ order.qty * order.price.slice(1).replace(',', '.') }} € </span>
      </p>
    </md-list-item>
  </md-list>
</md-card>