<h1>TILAUKSENI</h1>

<md-card>
  <md-list>
    <md-list-item *ngFor="let order of orders | async">
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>{{ order.name }}</h3>
      <p md-line>
        <span> {{ order.qty }} kpl </span>
        <span class="demo-2"> a {{ order.price }} </span>
      </p>
      <p>
        <span> Yhteensä </span>
        <span class="demo-2"> x.xx € </span>
      </p>
    </md-list-item>
  </md-list>
</md-card>