<h1>RAFLAN NIMI TÄHÄN</h1>

<md-card>
  <md-list>
    <md-list-item *ngFor="let product of products | async" >
      <img md-list-avatar src="https://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="..." (click)="openModal()">
      <h3 md-line (click)="openModal()">{{ product.name }}</h3>
      <p md-line (click)="openModal()">
        <span>{{ product.description }}</span>
        <span class="demo-2"> -- {{ product.price }} </span>
      </p>
        <h3 color="primary" class="price"(click)="openModal()" >{{ product.price }}</h3>
      <button md-raised-button color="primary" (click)="activeProduct = product">TILAA</button>
        <div class="order-how-many" *ngIf="activeProduct == product">
            <button md-raised-button color="primary" (click)="addOrder(product, 1)">1</button>
            <button md-raised-button color="primary" (click)="addOrder(product, 2)">2</button>
            <button md-raised-button color="primary" (click)="addOrder(product, 3)">3</button>
            <button md-raised-button color="primary">...</button>
            <button md-raised-button color="accent" (click)="activeProduct = null"><md-icon>close</md-icon></button>
        </div>
    </md-list-item>
  </md-list>
</md-card>
<div id="overlay" (click)="openModal()">
    <div id="modal">
        <div class="title">You clicked a salkku!</div>
        <div class="body">
            <img src="http://www.viinarannasta.com/images-shop/1445934499-karjala24x33_web.jpg" alt="">
        </div>
    </div>
</div>