@import '../../../node_modules/@angular/material/core/theming/all-theme';

body {
  margin-bottom: 30%; // Define this better, hackday quick fix...
}

md-card {
  padding: 0 !important;

  md-list {
    padding-top: 0;

    md-list-item {
      border-bottom: 1px solid #e8e8e8;
      position: relative;

      h3 {
        font-weight: 600;
        font-size: 1.3em;
      }

      div.md-list-item {
        padding: 0px 0px 0px 16px;
      }

      h3.price {
        text-align: right;
        padding-right: 12px;
      }

      [md-raised-button] {
        height: 100%;
        min-width: 66px;
        border-radius: 0;
        box-shadow: none;
      }

      .order-how-many {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background: red;

        [md-raised-button] {
          width: 20%;
          min-width: 20%;
          padding: 0 !important;
          margin-right: -4px;
          border-right: 1px solid #e8e8e8;
          font-size: 2em;
        }

        :last-child {
          border-right: none;

          .material-icons {
            font-size: 24px;
          }
        }
      }
    }
  }
}