<md-card>
  <md-list>
    <md-list-item *ngFor="let product of products | async">
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>{{ product.name }}</h3>
      <p md-line>
        <span>{{ product.description }}</span>
        <span class="demo-2"> -- {{ product.price }} </span>
      </p>
        <h3 color="primary" class="price" >{{ product.price }}</h3>
      <button md-button color="primary" >TILAA</button>
    </md-list-item>
  </md-list>
</md-card>
