<md-card>
  <md-list>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
    <md-list-item>
      <img md-list-avatar src="http://www.viinahuuto.com/454-large_default/karjala-52.jpg" alt="...">
      <h3 md-line>Karjala III </h3>
      <p md-line>
        <span> 4,7% </span>
        <span class="demo-2"> -- Suomi </span>
      </p>
      <h3 color="primary" class="price" >5,71€</h3>
      <button md-raised-button color="primary" >TILAA</button>
    </md-list-item>
  </md-list>
</md-card>
